.navbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e9ecef;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    .navbar-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navbar-left {
        margin-right: auto;
    }
    
    .navbar-right {
        margin-left: auto;
    }

    .navbar-right > *, .navbar-left > *{
        // margin-left: 1rem;
    }

    .navbar-logo {
        width: 6rem;
    }
}